alert tcp any any -> any :1024 (flags:S;msg:varias ligacoes tcp num minuto; sid:20140405; rev:0; threshold:type both, track by_src, count 5, seconds 60;)

alert tcp any any -> any 6666 (flags:S;msg:varias ligacoes tcp em 20 segundos; sid:20140406; rev:0;threshold:type threshold,track by_src, count 3, seconds 20;)

